<%- include('./layouts/head.ejs') %>
		<div class="wrapper" id="pg-login">
			<div class="row">
				<%- include('./layouts/background.ejs') %>
				<div class="form">
					<div class="wrap">
						<div class="welcome">
							<h2>Password Reset</h2>
							<p class="motivational-quote">
								Great talent finds happiness in execution
							</p>
						</div>
						<!-- p  -->
						<%- include('partials/_auth_error') %>

						<!-- p  -->
						<form action="<%= globals.auth_path.passwordreset %>" method="POST">
							<h3 class="pointer">Update your password:</h3>
							<div class="form-group input">
								<label for="" class="label-hidden-v">
									<h5>New Password</h5>
								</label>
								<input
									type="password"
									name="password"
									placeholder="****"
								/>
							</div>

							<div class="form-group input">
								<label for="" class="label-hidden-v">
									<h5>Confirm new Password</h5>
								</label>
								<input
									type="password"
									name="confirm_password"
									placeholder="****"
								/>
							</div>

							<button type="submit">Submit</button>
						</form>

						<div class="form-links">
							<a href="<%= globals.auth_path.login %>">Go back to login page</a>
						</div>
                             <br>
                             <br>
						<div class="image" style="margin-top: 20px">
							<a href="https://longbottondev.io">
								<img
									src="/login/images/2.jpg"
									style="width: 150px; height: 100px"
									alt=""
								/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%- include('./layouts/footer.ejs') %>
