
<%- include('./layouts/head.ejs') %>

		<div class="wrapper" id="pg-login">
			<div class="row">
			<%- include('./layouts/background.ejs') %>
				<div class="form">
					<div class="wrap">
						<div class="welcome">
							<h2>Setup Your Account</h2>
							<p class="motivational-quote">
								Great talent finds happiness in execution
								<span class="author"> ~Aristotle </span>
							</p>
						</div>
						<!-- Error display -->
						<%- include('partials/_auth_error') %>
						<!-- Error display -->
						<!-- FORM -->
						<form action="<%= globals.auth_path.setup %>" method="POST">
							<h3 class="pointer">
								Sign up below :
								<span class="info" role="button">
									<span
										class="iconify"
										data-icon="clarity:info-standard-line"
										data-inline="false"
									></span>
								</span>
							</h3>
							<div class="form-group input">
								<label for="" class="label-hidden-v">
									<h5>Username</h5>
								</label>
								<input
									type="text"
									placeholder="Username"
									name="username"
									value="<%= typeof username != 'undefined' ? username : '' %>"
								/>
							</div>

							<div class="form-group input">
								<label for="" class="label-hidden-v">
									<h5>Email</h5>
								</label>
								<input
									id="email"
									type="text"
									placeholder="Email"
									name="email"
									value="<%= typeof email != 'undefined' ? email : '' %>"
								/>
							</div>

							<div class="form-group input focused">
								<label for="" class="label-hidden-v">
									<h5>Password</h5>
								</label>
								<input
									type="password"
									placeholder="password"
									name="password"
									value="<%= typeof password != 'undefined' ? password : '' %>"
								/>
							</div>

							<div class="form-group input focused">
								<label for="" class="label-hidden-v">
									<h5>Confirm password</h5>
								</label>
								<input
									type="password"
									placeholder="Re-enter password"
									name="password2"
									value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
								/>
							</div>

							<div class="form-group checkbox">
								<label for="" style="font-size: 13px"
									>Yes, I have read and agreed to the
									<a href="#" style="color: rgb(45, 144, 237)"
										>terms and conditions</a
									></label
								>
								<input type="checkbox" value="remember-me" />
							</div>
							<button type="submit">Continue</button>
						</form>
						<!-- FORM -->
						<!-- <div class="form-links">
							<a href="#">Forgot Password ?</a>
						</div> -->
						<div class="image" style="margin-top: 20px">
							<a href="https://longbottondev.io">
								<img
									src="/login/images/2.jpg"
									style="width: 150px; height: 100px"
									alt=""
								/>
							</a>
						</div>
					</div>
					<!-- Modal -->
					<!-- Modal -->
				</div>
			</div>
		</div>
		<%- include('./layouts/footer.ejs') %>

	
