<!-- Header -->
<%- include('../includes/header.ejs') %>
<link rel="stylesheet" href="/css/mail.css" />
<link rel="stylesheet" href="/css/maillist.css" />
<link rel="stylesheet" href="/css/mailview.css" />

<!-- Setting global Javascript variables -->
<script>
  const app_home_url = "<%= globals.app_home_url %>";
</script>
  <div class="mail-row">
        <!-- ----------------- -->
        <!-- ----------------- -->
        <!--- Mail list area ---->
        <!-- ----------------- -->
        <!-- ----------------- -->
        <%- include('./components/maillist.ejs') %>
        <!-- ----------------- -->
        <!-- ----------------- -->
        <!--- Mail view area ---->
        <!-- ----------------- -->
        <!-- ----------------- -->
        <%- include('./components/mailview.ejs') %>
  </div>
    
<!--  specific page addons -->
<link
rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
/>

<!--  specific page addons -->

<!-- Foot -->
<%- include('../includes/foot.ejs') %>

   