<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="/css/variables.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/project.css" />
    <!-- Animation css -->
    <link
      rel="stylesheet"
      href="/css/animation/animation_override.css"/>

    <!-- Swiper -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>

    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>

    <!-- ckeditor implementation to parse escaped data -->
  </head>
  <!-- BODY -->
  <body onresize="resizeMedia()">
    <header>
      <nav class="navbar navbar-collapsed bg-light">
        <div class="container">
          <div class="logo">Project</div>
          <button class="hamburger active" onclick="navbarCollapseToggle()">
            <i class="fas fa-bars font-600"></i>
          </button>

          <ul class="nav-links">
            <!-- <div class="container"> -->
            <li class="navlink active"><a href="/">Home</a></li>
            <!-- </div> -->
          </ul>
        </div>
      </nav>
    </header>

    <!-- Hero Start -->
   
    <!-- Hero End -->

    <!-- Main Start -->
     <main>
         <section class="project-hero" style="background-color: #2b3135;">
         </section>

         <!-- Slider main container -->
         <section>
            <div class="container">
                <div class="swiper slider">
                    <div class="swiper-wrapper slider-wrapper">
                      <!-- Image hero  -->
                        <div class="swiper-slide slider-content-wrap">
                          <a href="<%= project.imageHero.url %>" target="_blank">
                            <div class="slider-image-holder" style="background-image: url('<%= project.imageHero.url %>'); height:300px;" >
                            </div>
                          </a>
                        </div>

                      <!-- other images -->
                       <% project.imgs.forEach(function(img){ %>
                          <div class="swiper-slide slider-content-wrap">
                            <a href="<%= img.url%>" target="_blank">
                              <div class="slider-image-holder" style="background-image: url('<%= img.url %>'); height:300px;" >
                              </div>
                            </a>
                        </div>
                       <% }); %>
                    </div>

                    <!-- <div class="swiper-pagination"></div> -->

                    <div class="controls" style="margin-top:20px; display: flex; justify-content: center;">
                        <div class="swiper-prev slider-button left">
                            <i class="fas fa-arrow-left"></i>
                        </div>

                        <div class="swiper-next slider-button right" >
                            <i class="fas fa-arrow-right"></i>
                        </div>
                    </div>

                   
                </div>
            </div>
        </section>
        <!-- Slider main container-->

         <section class="project-info">
             <div class="container">
                 <div class="project-heading">
                     <div class="left">
                        <h1 class="project-title">
                            <%= project.title %>
                        </h1>
                        <small>
                          <%= project.category %> | <%= ((new Date(parseInt(project.date))).toLocaleDateString()).replaceAll(/\//g, '-') %>
                        </small>
                     </div>
                     <div class="right">
                         <div class="links">
                            <% if(project.externalUrl){ %>
                              <a href="<%= project.externalUrl %>" title="view on website">
                                <i class="fas fa-globe"></i>
                              </a>
                            <% } %>

                            <% if(project.github){ %>
                              <a href="<%= project.github %>" title="view on github">
                                <i class="fab fa-github"></i>
                              </a>
                            <% } %>
                         </div>
                     </div>
                 </div>
                <div class="project-description" id="project-description-holder">
                 
                </div>
             </div>
         </section>

         <% if(project.video !== "undefined" && project.video !== ""){ %>
            <section class="project-media">  
              <div class="container">
                <div class="project-video">
                    <iframe 
                    width="560" 
                    height="315" 
                    src="<%= project.video %>" 
                    title="YouTube video player" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; 
                    clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                  </div>
              </div>
            </section>
         <% } %>
       

     </main>
    <!-- Main End -->

    <!-- Theme picker Start -->
    <div id="theme-picker" class="">
      <button id="theme-picker-toggle">
        <i class="fas fa-cog icon"></i>
      </button>
      <div class="themes">
        <ul>
          <li class="theme">
            <span class="theme" id="blue" onclick="setTheme('#0d6efd')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="pink" onclick="setTheme('#e54b4b')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="green" onclick="setTheme('#01a479')"></span>
          </li>
          <li class="theme">
            <span class="theme" id="teal" onclick="setTheme('#00758f')"></span>
          </li>
          <li class="theme">
            <span
              class="theme"
              id="yellow"
              onclick="setTheme('#eaa21d')"
            ></span>
          </li>
          <li class="theme">
            <span
              class="theme"
              id="indigo"
              onclick="setTheme('#280677')"
            ></span>
          </li>
        </ul>
      </div>
    </div>
    <!-- Theme picker End -->

    <!-- Back-to-top Start -->
    <a href="#hero" class="hidden" id="back-to-top">
      <i class="fas fa-arrow-up"></i>
    </a>
    <!-- Back-to-top End -->

     <!-- Footer Start -->
     <footer class="footer">© 2021 Queue. Design by Zoyothemes</footer>
     <!-- Footer End -->

    <!-- script -->
    <!-- <script>
      const projectId = "<%= project._id %>";
      alert(projectId);
    </script> -->
    <script src="/js/util.js"></script>
    <script src="/js/navbar.js"></script>
    <script src="/js/parallax.js"></script>
    <script src="/js/scrollspy.js"></script>
    <script src="/js/back-to-top.js"></script>
    <script src="/js/theme-select.js"></script>
    <script>

    const swiper = new Swiper('.swiper', {
        autoplay:{
            delay:2500,
            disableOnInteraction: false
        },
        loop: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true
        },
        navigation: {
            nextEl: '.swiper-next',
            prevEl: '.swiper-prev',
        },
    });


    let projectId = "<%= project._id %>";

      async function parseCkescapedData(){
        let res = await fetch(`/api/project/${projectId}`);
        let projectDescription = (await res.json()).data.description;

        let parseData = projectDescription.replace(/&lt;/g, '<');
            parseData = parseData.replace(/&gt;/g, '>');
      
         document.getElementById("project-description-holder").innerHTML = parseData;
        // return parseData;
      }

      parseCkescapedData();


    </script>
    
  </body>
</html>
