<!-- Header -->
<%- include('../includes/header.ejs') %>

<!-- Setting global Javascript variables -->
<script>
    const app_home_url = "<%= globals.app_home_url %>";
</script>
<div class="app-main__inner">
    <!-- titile -->
    <!-- titile -->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="metismenu-icon pe-7s-rocket icon-gradient bg-mean-fruit"></i>
                </div>
                <div>
                    Projects
                    <div class="page-title-subheading">
                       View and manage projects
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <div class="row">
        <!--  -->
        <div class="col-md-8">
            <%- include('./components/all-projects.ejs') %>

            <!-- Single project start -->
            <div class="col-md-12">
                <%- include('./components/single-project.ejs') %>
            </div>
           
        </div>
        <!-- All projects  table end -->
        <%- include('./components/add-project.ejs') %>
       
    </div>
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
</div>

<%- include('../includes/footer.ejs') %>
<!-- Footer -->

<!--  specific page addons -->
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<!--  specific page addons -->

<!-- Foot -->
<%- include('../includes/foot.ejs') %>
