<!-- Header -->
<%- include('../includes/header.ejs') %>

<!--  specific page addons -->
<script src="/build/ckeditor.js"></script>
<!--  specific page addons -->

<!-- Setting global Javascript variables -->
<script>
    const app_home_url = "<%= globals.app_home_url %>";
</script>


<!--  -->
<div class="app-main__inner">
    <!-- titile -->
    <!-- titile -->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="metismenu-icon pe-7s-rocket icon-gradient bg-mean-fruit"></i>
                </div>
                <div>
                    Projects
                    <div class="page-title-subheading">
                       View and manage projects
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <div class="row">
        <!--  -->
        <div class="col-md-6">

            <div class="row">
                <div class="col-md-12">
                    <%- include('./components/all-projects.ejs') %>
                </div>

                <!-- Single project start -->
                <div class="col-md-12">
                    <%- include('./components/single-project.ejs') %>
                </div>
            </div>

           
        </div>
        <div class="col-md-6">
            <!-- All projects  table end -->
            <%- include('./components/add-project.ejs') %>
        </div>
       
    </div>
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
</div>

<script>
    // Ckeditor build
    ClassicEditor.create( document.querySelector( '.--use-ckeditor' ), {
        licenseKey: '',
	} )
    .then( ckeditor => {
        window.ckeditor = ckeditor;
    } )
    .catch( error => {
        console.error( 'Oops, something went wrong!' );
        console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
        console.warn( 'Build id: 6ipdhxgd5iyr-ai837debbwht' );
        console.error( error );
    } );


    function getCkeditorData(escaped=false){
    let ckeditorData = window.ckeditor.getData({format: 'string'});

    if(escaped){
        ckeditorData = ckeditorData.replace(/"/g, '\"');
        ckeditorData = ckeditorData.replace(/</g, '&lt;');
        ckeditorData = ckeditorData.replace(/>/g, '&gt;');
    }

        return ckeditorData;
    }
</script>

<!-- Foot -->
<%- include('../includes/foot.ejs') %>
