<!-- Header -->
<%- include('../includes/header.ejs') %>

<!-- Setting global Javascript variables -->
<script>
    const app_home_url = "<%= globals.app_home_url %>";
  </script>
<div class="app-main__inner">
    <!-- titile -->
    <!-- titile -->
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <i class="pe-7s-note icon-gradient bg-mean-fruit"> </i>
                </div>
                <div>
                    Blogs
                    <div class="page-title-subheading">
                       Manage your blogs
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
    <div class="row">
        <div class="col-md-8">
         <!-- All Blogs -->
         <%- include('./components/all-blogs.ejs') %>

        <!-- All Blogs -->
        <%- include('./components/single-blog.ejs') %>
           
        </div>

        <div class="col-md-4">
             <!-- Add Blog -->
             <%- include('./components/add-blog.ejs') %>
             <%- include('./components/edit-blog.ejs') %>
        </div>
    </div>
    <!-- Main -->
    <!-- Main -->
    <!-- Main -->
</div>

<%- include('../includes/footer.ejs') %>
<!-- Footer -->

<!--  specific page addons -->
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<!--  specific page addons -->

<!-- Foot -->
<%- include('../includes/foot.ejs') %>
